.popup__container {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

@media (max-width: 620px) {
    .popup__container {
        width: 282px;
    }
}