.profile {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;
}

@media (max-width: 1000px) {
    .profile {
        flex-direction: column;
    }
}