.profile__subtitle {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
}

@media (max-width: 1000px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-left: 17px;
    }
}