.popup__button-close {
    width: 32px;
    height: 32px;
    background-image: url(../../../images/CloseIcon.svg);
    background-size: contain;
    background-color: transparent;
    position: absolute;
    right: -40px;
    top: -40px;
    border: none;
    cursor: pointer;
}

.popup__button-close:hover {
    opacity: 0.6;
}

@media (max-width: 620px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        right: 0;
    }
}