.header {
    display: flex;
    margin-top: 45px;
    margin-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}



@media (max-width: 350px) {
    .header {
        margin-top: 28px;
    }
}
