.profile__button-avatar {
    background: rgb(0, 0, 0)  url(../../../images/info-pen.svg) no-repeat center;
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 100%;
    position: absolute;
    padding: 0;
    opacity: 0;
}

.profile__button-avatar:hover {
    opacity: 0.8;
    cursor: pointer;
}